@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html,
label {
  cursor: url("./cursors/cursor-default.png"), auto;
}

a,
button {
  cursor: url("./cursors/cursor-pointer-2.png"), auto;
}

p,
input,
textarea {
  cursor: url("./cursors/cursor-text.png"), auto;
}

.techs {
  cursor: url("./cursors/cursor-default.png"), auto;
}

body {
  background-color: #000319;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background-color: #404cd1;
  color: #fff;
}

/* Estilização da scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0e23;
}

::-webkit-scrollbar-thumb {
  background: #404cd1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333aa8;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #404cd1 #0c0e23;
}
